/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*@font-face{ font-family: 'Noto Sans KR', sans-serif}*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

a {
    text-decoration: none;
    color: inherit;
}

*{
    font-family: 'Noto Sans KR';
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

img{
    max-width: 100%;
    vertical-align: top;
}


#wrap{
    width: 100%;
    position: relative;
}
/*헤더*/

header {
    width: 100%;
    height: 10vh;
    background-color: #fff;
    position: fixed;
    z-index: 90;    
}

header h1{
    display: none;
}

header ul{
    display: flex;
    justify-content: space-around;
    line-height: 10vh;
}

header ul li{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


/*me*/
#main{
    height: 100vh;
    position: relative;
    top: 10vh;
}

.intro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.intro_box{
    text-align: center;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #333;
}

.intro_box > h2{
    font-size: 5em;
    color: #fff;
    font-weight: bold;
}

.intro_box > figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_box > figure > img{
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    filter: grayscale(100%);
}

.intro_box:hover > figure >img{
    filter:grayscale(0%)
}

.intro > .t_line{
    width: 100%;
    background-color: #333;
    margin-bottom: 0.5vw;
}

.intro > .t_line:nth-child(1){
    height: 1px;
}

.intro > .t_line:nth-child(2){
    height: 3px;
}
.intro > .t_line:nth-child(3){
    height: 6px;
}
.intro > .t_line:nth-child(4){
    height: 9px;
}
.intro > .t_line:nth-child(5){
    height: 12px;
}
.intro > .t_line:nth-child(6){
    height: 15px;
}
.intro > .t_line:nth-child(7){
    height: 18px;
}

.intro > .b_line{
    width: 100%;
    background-color: #333;
    margin-bottom: 0.5vw;  
}

.intro > .b_line:nth-child(9){
    height: 18px;
}
.intro > .b_line:nth-child(10){
    height: 15px;
}
.intro > .b_line:nth-child(11){
    height: 12px;
}
.intro > .b_line:nth-child(12){
    height: 9px;
}
.intro > .b_line:nth-child(13){
    height: 6px;
}
.intro > .b_line:nth-child(14){
    height: 3px;
}
.intro > .b_line:nth-child(15){
    height: 1px;
}


/* //main - intro*/

#me{
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-around;
    position: relative;
    top:10vh;
}

#me .self{
    width: 50%;
    text-transform: uppercase;
    position: sticky;    
    font-size: 6em;
    font-weight: bold;
    top: 80px;
    height: 15vh;
    padding-bottom: 20vh;
}

#me .Challenge{
    width: 50%;
    height: inherit;    
}

#me .Challenge > div{
    padding: 1.5vw;
    margin-bottom: 13vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#me .Challenge > div > h3{
    font-size: 3.2em;
    margin-bottom: 1.8vw;
    font-weight: bold;
    
}

#me .Challenge > div > .cline{
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 1.8vw;
}
#me .Challenge > div > p{
    font-size: 1.25em;
    line-height: 1.8em;
    width: 85%;
}
/*skill*/
#skill{
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 10vh;
}

.sk-1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 4vw;
    padding: 25px;
    box-sizing: border-box;
    align-items: center;
}

.sk-1 > figure{
    width: 15%;
    filter: grayscale(100%);
}

.sk-1 > figure:hover{
    filter: grayscale(50%);
}

.sk-2{
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
}

.sk-2 > h2{
    text-transform: uppercase;
    font-size: 6em;
    font-weight: bold;
    height: 15vh;    
}

.sk-2 > span{
    background-color: #333;
    margin-bottom: 0.5vw;
}

.sk-2 > span:nth-child(2){
    width: 32%;
    height: 2px;
}
.sk-2 > span:nth-child(3){
    width: 45%;
    height: 4px;
}
.sk-2 > span:nth-child(4){
    width: 55%;
    height: 8px;
}
.sk-2 > span:nth-child(5){
    width: 65%;
    height: 12px;
}
.sk-2 > span:nth-child(6){
    width: 75%;
    height: 16px;
}

.sk-2 > span:nth-child(7){
    width: 85%;
    height: 18px;
}

.sk-2 > span:nth-child(8){
    width: 95%;
    height: 20px;
}


/*connect*/
#connect{
    padding: 16px;
    box-sizing: border-box;
    top: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    position: relative;;
}

#connect > h2{
    font-size: 6em;
    text-transform: uppercase;
    width: 50%;
    font-weight: bold;
    margin-bottom: 1.5vw;
}

#connect > .c-line{
    width: 100%;
    background-color: #333;
    margin-bottom: 0.5vw;
}

#connect > .c-line:nth-child(2){
    height: 3px;
}
#connect > .c-line:nth-child(3){
    height: 6px;
}
#connect > .c-line:nth-child(4){
    height: 12px;
}
#connect > .c-line:nth-child(5){
    height: 15px;
}

#connect > .text{
    display: flex;
    width: 100%;
    height: 40vh;
    background-color: #333;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#connect > .text > h4{
    color: #fff;
    margin-bottom: 2vh;
    font-size: 3em;
    font-weight: bold;
}

#connect > .cb-line{
    width: 100%;
    background-color: #333;
    margin-top: 0.5vw;
}

#connect > .cb-line:nth-child(7){
    height: 15px;
}
#connect > .cb-line:nth-child(8){
    height: 12px;
}
#connect > .cb-line:nth-child(9){
    height: 6px;
}
#connect > .cb-line:nth-child(10){
    height: 3px;
}